/*
 * Iropke Batang (Korean)
 * http://font.iropke.com/batang/
 */
@font-face {
  font-family:'Iropke Batang';
  font-style:normal;
  font-weight:400;
  src: url('https://cdn.jsdelivr.net/gh/makekr/font-iropke-batang@woff2/IropkeBatangM.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/makekr/font-iropke-batang@woff2/IropkeBatangM.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/makekr/font-iropke-batang@woff2/IropkeBatangM.ttf') format('truetype');
}